%table{class: "ledger-table"}
  %tbody
    %tr{class: "top-row"}
    - get_table_headers
    - @headers.each do |title|
      %td#table-title
        =title
    - @ledgers.reverse.each do |purchase|
      %tr{class: "table-content"}
        %td= get_date(purchase)
        %td= purchase.item
        %td= purchase.price
        %td= purchase.note
        %td= purchase.payment_type
        %td= purchase.expenditure