.container
  .header
    = render partial: "navbar"

  .ledger-list
    = render partial: "form"

  = render partial: "river"
  
  = render partial: "table"


  / Filter for highchart to select different piecharts
  / %select{name: "city_id", id:"city_id"}
  /   %option{value:1}Lisbon
  /   %option{value:2}Madrid
  /   %option{value:12}Berlin


  / - if :filter == "Expenditure"
  /   hi
  /   - @chart_title = "Expenditure Breakdown"
  /   - @analysis = expenditure_breakdown
  / - elsif :filter == "Payment Type"
  /   = hello
  /   - @chart_title = "Payment Type"
  /   - @analysis = payment_breakdown

  = render partial: "piechart"